=botao_voltar(admins_backoffice_subjects_path)
%hr
  - if @subject.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{:type=>"button", :data-dismiss=>"alert", :aria-hidden=>"true" }x
      %ul
        - @subject.errors.full_messages.each do |msg|
          %li= msg

.panel.panel-default
  .panel-heading=@subject.model_name.human + ' ' + @subject.id.to_s
  .panel-body
    = form_with(model: [ :admins_backoffice, @subject ], local: true) do |form|
      .row
        .col-md-12.form-group
          = form.label(:description)
          = form.text_field(:description, class:'form-control')
      =botao_salvar()